h1{
	text-align:center;
}	/*  your css code here. If applicable */
.form-group{
	width: 100%;
	height: 100%;
}
#submit{
	background: skyblue;
	border-radius: 5px
	padding: auto;
	margin-top: 20px;
}
input{
	width: 100%;
	height: auto;
}
table {
	margin-top: 20px;
border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

